.nav-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
}
.flex-drop-icon a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon:focus{
    box-shadow: none !important;
}
.nav-icon{
    border: none !important;
}
.icon-black{
    color: black;
}
.nav-text-color a{
    color: #585858;
}
.nav-text-hover-color a:hover{
    color: red;
    background-color: transparent !important;
}
.nav-text-color a:focus{
    color: red;
}
.margin-pricing{
    margin-top: 70px;
}
@media screen and (min-width: 992px){
    .margin-pricing{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.up-btn{
    padding: 10px 14px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
    float: right;
}
.pills-bg:hover{
    background-color: red !important;
    color: white !important;
    transition: .5s;
}
.pills-bg:focus{
    background-color: red !important;
    color: white !important;
}
.pills-active{
    background-color: red !important;
}
.pills-bg{
    background-color: transparent !important;
}
.zoom{
    overflow: hidden;
    /* width: 250px; */
    margin: 20px;
    position: relative;
    display: inline-block !important;
}
.zoom:hover img{
    transform: scale(1.5);
    transition: 1s ease-in-out;
}
.zoom .text{
    position: absolute;
    bottom:0;
    left:15px;
    color: white;
    font-size: 18px;
    opacity: 0;
}
.zoom:hover .text{
    opacity: 1;
    transition: 1s;
}
.footer-icon:hover{
    background-color: red;
    transition: 1s;
  }
  .footer-icon{
    background-color: #43515c;
  }
  .footer-sub-input{
    background-color: white;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
  }
  .footer-sub-input .footer-sub-btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 0 15px;
    height: 40px;
    background: #d9232d;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  .sub-input{
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 100px);
  }
  .bg-footer{
    background-color: #334452;
  }